* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 360px;
    height: 360px;
    margin-top: 12px;
}

.settings {
    display: flex;
    margin: 12px 0;
    width: 360px;
    justify-self: center;
    gap: 4px;
}

button.dimensions {
    flex-grow: 1;
    margin-right: 8px;
}

button.color {
    width: var(--button-width);
    border: none;
}

button.color:hover {
    opacity: 0.5;
    border: 1px solid white;
}

button.color#black {
    background-color: black;
}

button.color#red {
    background-color: red;
}

button.color#green {
    background-color: green;
}

button.color#blue {
    background-color: blue;
}

/* Grid rows */
.container div {
    display: flex;
    flex-grow: 1;
}

/* Row squares */
.container div div {
    flex-grow: 1;
    border: 0.2px solid rgba(0, 0, 0, 0.1);
}

/* The etch in the sketch */
.highlight {
    background-color: var(--highlight-color, black);
    opacity: var(--highlight-opacity, 0);
}