* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 360px;
    height: 360px;
    margin-top: 12px;
}

.button {
    display: flex;
    margin: 12px 0;
    width: 360px;
    justify-self: center;
}

button {
    flex-grow: 1;
}

/* Grid rows */
.container div {
    display: flex;
    flex-grow: 1;
}

/* Row squares */
.container div div {
    flex-grow: 1;
    border: 0.2px solid rgba(0, 0, 0, 0.1);
}

/* The etch in the sketch */
.highlight {
    background-color: rgb(30, 17, 198);
    opacity: var(--highlight-opacity, 0);
}